[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tint
Exec=harbour-tint
Name=Tint
[X-Sailjail]
Permissions=Internet
OrganizationName=net.attah
ApplicationName=tint
